# Data validation and pre-processing technique

In [1]:
#import library packages
import pandas as p
import numpy as n

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
#Load given dataset
data = p.read_csv('Final_Data.csv')

Before drop the given dataset:

In [4]:
data.head()

,ï»¿State_Name,Crop_Year,Area,Yield,Temperature,Precipitaion,Humidity,Soil_type:_chalky,Soil_type:_clay,Soil_type:_loamy,...,District:_THANE,District:_WARDHA,District:_WASHIM,District:_YAVATMAL,Crop:_Bajra,Crop:_Jowar,Crop:_Wheat,Season:_Kharif,Season:_Rabi,Season:_Rabi
0,Maharashtra,1997,598400,217000,24.2430,42.3484,84.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,Maharashtra,1998,453200,227900,23.1000,8.7838,70.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,Maharashtra,1999,498300,190900,22.8118,39.5078,35.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,Maharashtra,2000,518700,160800,23.2746,9.2558,33.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4,Maharashtra,2001,528900,175000,23.5674,4.0668,29.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [5]:
#shape
data.shape

(1345, 50)

After drop the given dataset:

In [6]:
df=data.dropna()
df.head()

,ï»¿State_Name,Crop_Year,Area,Yield,Temperature,Precipitaion,Humidity,Soil_type:_chalky,Soil_type:_clay,Soil_type:_loamy,...,District:_THANE,District:_WARDHA,District:_WASHIM,District:_YAVATMAL,Crop:_Bajra,Crop:_Jowar,Crop:_Wheat,Season:_Kharif,Season:_Rabi,Season:_Rabi
0,Maharashtra,1997,598400,217000,24.2430,42.3484,84.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,Maharashtra,1998,453200,227900,23.1000,8.7838,70.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,Maharashtra,1999,498300,190900,22.8118,39.5078,35.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,Maharashtra,2000,518700,160800,23.2746,9.2558,33.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4,Maharashtra,2001,528900,175000,23.5674,4.0668,29.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [7]:
df.shape

(1345, 50)

In [8]:
#show columns
df.columns

Index(['ï»¿State_Name', 'Crop_Year', 'Area', 'Yield', 'Temperature',
       'Precipitaion', 'Humidity', 'Soil_type:_chalky', 'Soil_type:_clay',
       'Soil_type:_loamy', 'Soil_type:_peaty', 'Soil_type:_sandy',
       'Soil_type:_silt', 'Soil_type:_silty', 'District:_AHMEDNAGAR',
       'District:_AKOLA', 'District:_AMRAVATI', 'District:_AURANGABAD',
       'District:_BEED', 'District:_BHANDARA', 'District:_BULDHANA',
       'District:_CHANDRAPUR', 'District:_DHULE', 'District:_GADCHIROLI',
       'District:_GONDIA', 'District:_HINGOLI', 'District:_JALGAON',
       'District:_JALNA', 'District:_KOLHAPUR', 'District:_LATUR',
       'District:_NAGPUR', 'District:_NANDED', 'District:_NANDURBAR',
       'District:_NASHIK', 'District:_OSMANABAD', 'District:_PARBHANI',
       'District:_PUNE', 'District:_SANGLI', 'District:_SATARA',
       'District:_SOLAPUR', 'District:_THANE', 'District:_WARDHA',
       'District:_WASHIM', 'District:_YAVATMAL', 'Crop:_Bajra', 'Crop:_Jowar',
       'Crop:_Wheat', 'Season:_Kharif', 'Season:_Rabi', 'Season:_Rabi       '],
      dtype='object')

In [9]:
#To describe the dataframe
df.describe()

,Crop_Year,Area,Yield,Temperature,Precipitaion,Humidity,Soil_type:_chalky,Soil_type:_clay,Soil_type:_loamy,Soil_type:_peaty,...,District:_THANE,District:_WARDHA,District:_WASHIM,District:_YAVATMAL,Crop:_Bajra,Crop:_Jowar,Crop:_Wheat,Season:_Kharif,Season:_Rabi,Season:_Rabi
count,1345.000000,1345.000000,1345.000000,1345.000000,1345.000000,1345.000000,1345.000000,1345.000000,1345.000000,1345.000000,...,1345.000000,1345.000000,1345.000000,1345.000000,1345.000000,1345.000000,1345.000000,1345.000000,1345.000000,1345.000000
mean,2005.467658,63510.949442,48704.450558,24.961374,87.384040,50.085502,0.002974,0.263197,0.347212,0.028996,...,0.009665,0.027509,0.034944,0.032714,0.286989,0.327881,0.385130,0.286989,0.327881,0.385130
std,5.194208,108850.275827,63579.918975,1.573104,138.746593,17.202989,0.054473,0.440532,0.476261,0.167858,...,0.097873,0.163623,0.183707,0.177953,0.452525,0.469616,0.486807,0.452525,0.469616,0.486807
min,1997.000000,2.000000,1.000000,22.312400,0.791600,4.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2001.000000,6200.000000,3300.000000,23.939000,13.978800,36.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2006.000000,25400.000000,24700.000000,24.540000,30.400600,47.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2010.000000,63600.000000,68600.000000,25.900000,88.113000,64.000000,0.000000,1.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,2014.000000,726300.000000,406000.000000,32.000000,987.536000,93.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [10]:
#Checking datatype and information about dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1345 entries, 0 to 1344
Data columns (total 50 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ï»¿State_Name         1345 non-null   object
 1   Crop_Year             1345 non-null   int64
 2   Area                  1345 non-null   int64
 3   Yield                 1345 non-null   int64
 4   Temperature           1345 non-null   float64
 5   Precipitaion          1345 non-null   float64
 6   Humidity              1345 non-null   float64
 7   Soil_type:_chalky     1345 non-null   float64
 8   Soil_type:_clay       1345 non-null   float64
 9   Soil_type:_loamy      1345 non-null   float64
 10  Soil_type:_peaty      1345 non-null   float64
 11  Soil_type:_sandy      1345 non-null   float64
 12  Soil_type:_silt       1345 non-null   float64
 13  Soil_type:_silty      1345 non-null   float64
 14  District:_AHMEDNAGAR  1345 non-null   float64
 15  District:_AKOLA       1345 non-null   float64
 16  District:_AMRAVATI    1345 non-null   float64
 17  District:_AURANGABAD  1345 non-null   float64
 18  District:_BEED        1345 non-null   float64
 19  District:_BHANDARA    1345 non-null   float64
 20  District:_BULDHANA    1345 non-null   float64
 21  District:_CHANDRAPUR  1345 non-null   float64
 22  District:_DHULE       1345 non-null   float64
 23  District:_GADCHIROLI  1345 non-null   float64
 24  District:_GONDIA      1345 non-null   float64
 25  District:_HINGOLI     1345 non-null   float64
 26  District:_JALGAON     1345 non-null   float64
 27  District:_JALNA       1345 non-null   float64
 28  District:_KOLHAPUR    1345 non-null   float64
 29  District:_LATUR       1345 non-null   float64
 30  District:_NAGPUR      1345 non-null   float64
 31  District:_NANDED      1345 non-null   float64
 32  District:_NANDURBAR   1345 non-null   float64
 33  District:_NASHIK      1345 non-null   float64
 34  District:_OSMANABAD   1345 non-null   float64
 35  District:_PARBHANI    1345 non-null   float64
 36  District:_PUNE        1345 non-null   float64
 37  District:_SANGLI      1345 non-null   float64
 38  District:_SATARA      1345 non-null   float64
 39  District:_SOLAPUR     1345 non-null   float64
 40  District:_THANE       1345 non-null   float64
 41  District:_WARDHA      1345 non-null   float64
 42  District:_WASHIM      1345 non-null   float64
 43  District:_YAVATMAL    1345 non-null   float64
 44  Crop:_Bajra           1345 non-null   float64
 45  Crop:_Jowar           1345 non-null   float64
 46  Crop:_Wheat           1345 non-null   float64
 47  Season:_Kharif        1345 non-null   float64
 48  Season:_Rabi          1345 non-null   float64
 49  Season:_Rabi          1345 non-null   float64
dtypes: float64(46), int64(3), object(1)
memory usage: 535.9+ KB

Checking duplicate values of dataframe:

In [11]:
#Checking for duplicate data
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1340    False
1341    False
1342    False
1343    False
1344    False
Length: 1345, dtype: bool

In [12]:
#find sum of duplicate data
sum(df.duplicated())

0

In [13]:
#Checking sum of missing values
df.isnull().sum()

ï»¿State_Name           0
Crop_Year               0
Area                    0
Yield                   0
Temperature             0
Precipitaion            0
Humidity                0
Soil_type:_chalky       0
Soil_type:_clay         0
Soil_type:_loamy        0
Soil_type:_peaty        0
Soil_type:_sandy        0
Soil_type:_silt         0
Soil_type:_silty        0
District:_AHMEDNAGAR    0
District:_AKOLA         0
District:_AMRAVATI      0
District:_AURANGABAD    0
District:_BEED          0
District:_BHANDARA      0
District:_BULDHANA      0
District:_CHANDRAPUR    0
District:_DHULE         0
District:_GADCHIROLI    0
District:_GONDIA        0
District:_HINGOLI       0
District:_JALGAON       0
District:_JALNA         0
District:_KOLHAPUR      0
District:_LATUR         0
District:_NAGPUR        0
District:_NANDED        0
District:_NANDURBAR     0
District:_NASHIK        0
District:_OSMANABAD     0
District:_PARBHANI      0
District:_PUNE          0
District:_SANGLI        0
District:_SATARA        0
District:_SOLAPUR       0
District:_THANE         0
District:_WARDHA        0
District:_WASHIM        0
District:_YAVATMAL      0
Crop:_Bajra             0
Crop:_Jowar             0
Crop:_Wheat             0
Season:_Kharif          0
Season:_Rabi            0
Season:_Rabi            0
dtype: int64

Spliting Train/Test:

After Pre-Processing:

In [17]:
df.columns

Index(['ï»¿State_Name', 'Crop_Year', 'Area', 'Yield', 'Temperature',
       'Precipitaion', 'Humidity', 'Soil_type:_chalky', 'Soil_type:_clay',
       'Soil_type:_loamy', 'Soil_type:_peaty', 'Soil_type:_sandy',
       'Soil_type:_silt', 'Soil_type:_silty', 'District:_AHMEDNAGAR',
       'District:_AKOLA', 'District:_AMRAVATI', 'District:_AURANGABAD',
       'District:_BEED', 'District:_BHANDARA', 'District:_BULDHANA',
       'District:_CHANDRAPUR', 'District:_DHULE', 'District:_GADCHIROLI',
       'District:_GONDIA', 'District:_HINGOLI', 'District:_JALGAON',
       'District:_JALNA', 'District:_KOLHAPUR', 'District:_LATUR',
       'District:_NAGPUR', 'District:_NANDED', 'District:_NANDURBAR',
       'District:_NASHIK', 'District:_OSMANABAD', 'District:_PARBHANI',
       'District:_PUNE', 'District:_SANGLI', 'District:_SATARA',
       'District:_SOLAPUR', 'District:_THANE', 'District:_WARDHA',
       'District:_WASHIM', 'District:_YAVATMAL', 'Crop:_Bajra', 'Crop:_Jowar',
       'Crop:_Wheat', 'Season:_Kharif', 'Season:_Rabi', 'Season:_Rabi       '],
      dtype='object')

In [18]:
from sklearn.preprocessing import LabelEncoder
var_mod = ['ï»¿State_Name', 'Crop_Year', 'Area', 'Temperature',
       'Precipitaion', 'Humidity', 'Soil_type:_chalky', 'Soil_type:_clay',
       'Soil_type:_loamy', 'Soil_type:_peaty', 'Soil_type:_sandy',
       'Soil_type:_silt', 'Soil_type:_silty', 'District:_AHMEDNAGAR',
       'District:_AKOLA', 'District:_AMRAVATI', 'District:_AURANGABAD',
       'District:_BEED', 'District:_BHANDARA', 'District:_BULDHANA',
       'District:_CHANDRAPUR', 'District:_DHULE', 'District:_GADCHIROLI',
       'District:_GONDIA', 'District:_HINGOLI', 'District:_JALGAON',
       'District:_JALNA', 'District:_KOLHAPUR', 'District:_LATUR',
       'District:_NAGPUR', 'District:_NANDED', 'District:_NANDURBAR',
       'District:_NASHIK', 'District:_OSMANABAD', 'District:_PARBHANI',
       'District:_PUNE', 'District:_SANGLI', 'District:_SATARA',
       'District:_SOLAPUR', 'District:_THANE', 'District:_WARDHA',
       'District:_WASHIM', 'District:_YAVATMAL', 'Crop:_Bajra', 'Crop:_Jowar',
       'Crop:_Wheat', 'Season:_Kharif', 'Season:_Rabi', 'Season:_Rabi       ']
le = LabelEncoder()
for i in var_mod:
    df[i] = le.fit_transform(df[i]).astype(str)

In [19]:
df.head()

,ï»¿State_Name,Crop_Year,Area,Yield,Temperature,Precipitaion,Humidity,Soil_type:_chalky,Soil_type:_clay,Soil_type:_loamy,...,District:_THANE,District:_WARDHA,District:_WASHIM,District:_YAVATMAL,Crop:_Bajra,Crop:_Jowar,Crop:_Wheat,Season:_Kharif,Season:_Rabi,Season:_Rabi
0,0,0,779,217000,226,452,63,0,1,0,...,0,0,0,0,0,1,0,0,1,0
1,0,1,758,227900,38,107,49,0,0,0,...,0,0,0,0,0,1,0,0,1,0
2,0,2,768,190900,16,424,14,0,0,0,...,0,0,0,0,0,1,0,0,1,0
3,0,3,772,160800,51,113,12,0,1,0,...,0,0,0,0,0,1,0,0,1,0
4,0,4,775,175000,77,25,8,0,1,0,...,0,0,0,0,0,1,0,0,1,0